<div class="track">
    <button class="transparent_button" (click)="playPause(track)">
        <i class="material-icons" id="play" *ngIf="track.isPlaying">pause_circle_outline</i>
        <i class="material-icons" id="pause" *ngIf="!track.isPlaying">play_circle_outline</i>
    </button>
    <h6 [style.color]="track.isPlaying ? '#00d949' : '#ffffff'">{{track.name}}</h6>
    <p [style.color]="track.isPlaying ? '#00d949' : '#ffffff'">
        {{displayMillisecInMinSec(track.duration_ms)}}
    </p>
</div>
<mat-slider *ngIf="track.isPlaying" class="time-slider" min="0" [max]="state?.duration" step="1"
    [value]="state?.currentTime" (input)="onSliderTimeChanged($event)">
</mat-slider>
<mat-divider></mat-divider>