<div class="track">
    <button class="transparent_button" (click)="playPause(track)">
        <i class="material-icons" [ngClass]="{'greenThemeColor': isActive(), 'defaultLightColor': !isActive()}">
            {{track.isPlaying ? 'pause_circle_outline' : 'play_circle_outline'}}
        </i>
    </button>
    <div>
        <div>
            <h6 [ngClass]="{'greenThemeColor': isActive(), 'defaultLightColor': !isActive()}">{{track.name}}</h6>
        </div>
        <div *ngIf="showArtist">
            <h6 class="defaultLightColor">by {{getArtists(track.artists)}}</h6>
        </div>
    </div>
    <p [ngClass]="{'greenThemeColor': isActive(), 'defaultLightColor': !isActive()}">
        {{convertMilliseconds(track.duration_ms)}}
    </p>
</div>
<mat-slider *ngIf="track.isPlaying" class="time-slider" min="0" [max]="state?.duration" step="1"
    [value]="state?.currentTime" (input)="onSliderTimeChanged($event)">
</mat-slider>
<mat-divider></mat-divider>