@import "../../../assets/styles/variables.scss";

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  p {
    margin: 0;
  }
  div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-grow: 2;
    h6 {
      margin: 0 15px;
    }
  }
  .transparent_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
  }
}
.mat-slider {
  width: 100%;
}
.mat-divider {
  border-top-color: rgba($color: $lightFontColor, $alpha: 0.5);
}
.greenThemeColor {
  color: $greenThemeColor;
}
.defaultLightColor {
  color: $lightFontColor;
}
