@import "../../../assets/styles/variables.scss";

nav {
  margin: 0 !important;
  .navbar-link {
    display: flex;
    align-items: center;
  }
  h1 {
    margin: 0;
    color: $lightFontColor;
  }
  img {
    margin-right: 10px;
  }
  @media screen and (max-width: 415px) {
    h1 {
      font-size: 28px;
    }
  }
}
