@import "../../../assets/styles/variables.scss";

h1,
h6 {
  margin: 0;
  color: $lightFontColor;
}
nav {
  margin: 0 !important;
  flex-wrap: nowrap;
  padding: 20px 0;
  .navbar-link {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  .profile {
    display: flex;
    align-items: center;
    .profile-image {
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
    .username {
      @media screen and (max-width: 890px) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 585px) {
    h1 {
      font-size: 28px;
    }
  }
}
