<section class="album-container">
    <div class="content">
        <app-navbar></app-navbar>
        <div class="header-wrapper">
            <h1 class="my-4 pl-4">Albums</h1>
            <app-page-navigation *ngIf="!!albumsTotal" [pageInfo]="pageInfo" (goToPage)="goToAlbums($event)">
            </app-page-navigation>
        </div>
        <h4 *ngIf="!albums.length">
            {{noResultsMessage}}
        </h4>
        <div class="albums-list">
            <div *ngFor="let album of albums">
                <div class="details">
                    <a [routerLink]="['/album', album.id]">
                        <h3>{{album.name}}</h3>
                        <img [src]="getCoverImage(album)" />
                    </a>
                </div>
            </div>
        </div>
        <app-page-navigation *ngIf="!!albumsTotal" [pageInfo]="pageInfo" (goToPage)="goToAlbums($event)">
        </app-page-navigation>
    </div>
</section>