@import "../../../assets/styles/variables.scss";

.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px) brightness(60%);
  }
}
.content {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 90px;
  h1 {
    padding: 44px 20px;
    color: $lightFontColor;
    @media screen and (max-width: 415px) {
      font-size: 24px;
    }
  }
}
