@import "../../../assets/styles/variables.scss";

h5 {
  color: $greenThemeColor;
  margin: 0;
  font-size: 18px;
}
h6,
p {
  color: $lightFontColor;
  font-size: 16px;
}
.controls-wrapper {
  position: fixed;
  z-index: 4;
  bottom: 0;
  width: 100vw;
  background-color: $darkBackgroundColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 420px) {
    padding: 20px;
  }
  .play-controls,
  .volume-controls {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 768px) {
      .time-slider,
      .time-slider-horizontal {
        display: none;
      }
      div.volume:hover {
        .time-slider-vertical {
          display: flex;
          position: absolute;
          bottom: 84px;
          background-color: $darkBackgroundColor;
        }
      }
    }
    .time-slider-vertical {
      display: none;
    }
  }
  .transparent_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
    i {
      color: $greenThemeColor;
      margin: 0;
      font-size: 36px;
      cursor: pointer;
      @media screen and (max-width: 640px) {
        font-size: 28px;
      }
    }
    i.play {
      font-size: 42px;
    }
  }
  .audio-details {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 55%;
    @media screen and (max-width: 420px) {
      display: none;
      width: fit-content;
    }
    .track-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 10px;
      position: relative;
      bottom: -10px;
      .name-details {
        width: fit-content;
      }
    }
    .mat-slider {
      padding: 0;
    }
  }
}
.track-list {
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 105px);
  padding: 55px;
  background-color: $darkBackgroundColor;
  overflow-y: scroll;
  @media screen and (max-width: 420px) {
    padding: 25px;
    height: calc(100% - 84px);
  }
  h1,
  h4 {
    color: $lightFontColor;
    margin-bottom: 20px;
  }
  .current-track {
    display: flex;
    margin-bottom: 40px;
    h5 {
      align-self: center;
    }
    div {
      display: flex;
      align-items: center;
      i {
        color: $greenThemeColor;
        font-size: 24px;
        margin-right: 10px;
      }
    }
  }
  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background: rgba($color: $darkBackgroundColor, $alpha: 0);
  }
  &::-webkit-scrollbar {
    width: 7px;
    opacity: 0.6;
    background: rgba($color: $darkBackgroundColor, $alpha: 0);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $lightFontColor;
  }
}
