<div class="track-list" [@slideInOut]="showTrackList ? 'in' : 'out'">
    <h1>Play Queue</h1>
    <h4>Now Playing</h4>
    <div class="current-track">
        <div class="transparent_button"><i class="material-icons">music_note</i></div>
        <h5>{{currentTrack?.name}} by {{getArtists(currentTrack?.artists)}}</h5>
    </div>
    <h4>Current Track List</h4>
    <div *ngFor="let track of currentTrackList">
        <app-item *ngIf="track.name !== currentTrack.name" [track]="track" [showArtist]="true"
            (newCurrentTrack)="playStream($event)">
        </app-item>
    </div>
</div>
<div class="controls-wrapper">
    <div class="play-controls">
        <button class="transparent_button" (click)="playPreviousTrack()">
            <i class="material-icons arrow">skip_previous</i>
        </button>
        <button class="transparent_button" (click)="playPause()">
            <i class="material-icons play">{{state?.playing ? 'pause_circle_outline' : 'play_circle_outline'}}</i>
        </button>
        <button class="transparent_button" (click)="playNextTrack()" [disabled]="isTracksListEnd">
            <i class="material-icons arrow" [style.opacity]="isTracksListEnd ? '0.6' : '1'">skip_next</i>
        </button>
    </div>
    <div class="audio-details">
        <div class="track-details">
            <div class="name-details">
                <h5>{{currentTrack?.name}}</h5>
                <h6>{{getArtists(currentTrack?.artists)}}</h6>
            </div>
            <p>{{state?.readableCurrentTime}}</p>
        </div>
        <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
            (input)="rewindTo($event)">
        </mat-slider>
    </div>
    <button class="transparent_button autorenew" (click)="autorenew()">
        <i class="material-icons" [style.opacity]="isAutorenewed ? '1' : '0.6'">autorenew</i>
    </button>
    <button class="transparent_button shuffle" (click)="shuffle()">
        <i class="material-icons" [style.opacity]="isShuffled ? '1' : '0.6'">shuffle</i>
    </button>
    <div class="volume-controls">
        <div class="transparent_button volume">
            <i class="material-icons">{{isVolumeOff ? 'volume_off' : 'volume_up'}}</i>
            <mat-slider class="time-slider-vertical" vertical min="0" [max]="1" step="0.1" [value]="state?.volume"
                (input)="setVolume($event)">
            </mat-slider>
        </div>
        <mat-slider class="time-slider-horizontal" min="0" [max]="1" step="0.1" [value]="state?.volume"
            (input)="setVolume($event)">
        </mat-slider>
    </div>
    <button class="transparent_button" (click)="openTracksList()">
        <i class="material-icons">menu_open</i>
    </button>
</div>